@media (min-width: 768px) {
    .card-description-text
    {
        height:3rem;
    }
}

.site-center {
    margin-bottom: 2rem;
}

.group-container
{
    padding:1rem;
}

.group-title
{
    margin-bottom: 1rem;
}

.table-icon {
    width: 2rem;

}

.links-table-row
{
    color: white;
}

.links-table-row a
{
    color: white;
}